@{
    ViewData["Title"] = "Логирование и трассировка";
}

<section class="text-center">
    <h1 class="display-4">Логирование и трассировка распределенных приложений</h1>

    <p>Приложение демонстрирует использование логирования и трассировки для платформы ASP.NET Core</p>
    <p>Для логирования используется <a href="https://nlog-project.org/" target="_blank">NLog</a> и <a href="https://prometheus.io/" target="_blank">Prometheus</a></p>
    <p>Для трассировки используется <a href="https://www.jaegertracing.io/" target="_blank">Jaeger</a></p>
   
</section>
