<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
  <targets>
    <target xsi:type="Console" name="consolelog">
      <layout xsi:type="JsonLayout">
        <attribute name="message" layout="${message}" />
        <attribute name="weblog_environment" layout="${event-properties:item=weblog_environment}" />
        <attribute name="weblog_host" layout="${event-properties:item=weblog_host}" />
        <attribute name="weblog_operation" layout="${event-properties:item=weblog_operation}" />
        <attribute name="weblog_x_operation_id" layout="${event-properties:item=weblog_x_operation_id}" />
        <attribute name="weblog_service" layout="${event-properties:item=weblog_service}" />
        <attribute name="weblog_type" layout="${event-properties:item=weblog_type}" />
        <attribute name="weblog_version" layout="${event-properties:item=weblog_version}" />
      </layout>
    </target>
    <target name="logger" xsi:type="Console"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="logger" enabled="true" />
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="logger" enabled="true" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="logger" enabled="true" />
    <logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="logger" enabled="true" />

    <!--<logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="consolelog" enabled="true" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>